body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}

.title {
  font-size: 24px;
  margin-bottom: 1rem;
  text-align: center;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-section input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.input-section button {
  padding: 10px 20px;
  background-color: #28292a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border: 1px solid #ece6e6;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.task input {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
}

.actions button {
  margin-left: 5px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.actions .edit {
  background-color: #000000;
  border: 1px solid #ece6e6;
  color: rgb(255, 255, 255);
}

.actions .save {
  background-color: #171717;
  color: white;
}

.actions .delete {
  background-color: #000000;
  border: 1px solid #ece6e6;
  color: rgb(255, 255, 255);
}